@import "bootstrap";

.flash-notice {
    color: green;
}

.flash-alert {
    color:red;

}

body {
    font-family: sans-serif;
}

#boxes {
  background-image: url("https://i.imgur.com/nClVR3o.png");
  background-color: #cccccc;
  Border
}
